@model List<DAL.Models.CarListingView>
@{
    ViewBag.Title = "CarListing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CarListing</h2>

<table>
    <tr>
        <th>Description</th>
        <th>Plate Number</th>
        <th>Year</th>
        <th>Manufacturer</th>
        <th>Price</th>
    </tr>
    @foreach (var car in Model)
    {
<tr>
    <td>@car.CarDescription</td>
    <td>@car.CarPlateNumber</td>
    <td>@car.CarYear</td>
    <td>@car.CarManufacturerName</td>
    <td>@car.CarPrice</td>
</tr>

    }
</table>

